:root {
    --font-main: 'JetBrains Mono', sans-serif;
    --txt-color: #000;
    --bg-color: #efefef;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    width: 6px ;
    background-color: #000;
    border-radius: 24px;
}

.navlinks {
    margin-top: 20px;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.navlinks a {
    padding: 4px 10px;
    margin: 5px;
    color: var(--txt-color);
    font-family: var(--font-main);
    text-decoration: none;
    position: relative;
    transition: .2s;
}

@media (max-width: 768px) {
    .navlinks a {
        font-size: 14px;
    }
}

.navlinks a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--txt-color);
    transform: translateY(10px);
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
}

.navlinks a:hover {
    font-weight: bold;
    transition: .2s;
}

.navlinks a:hover::after {
    opacity: 1;
    transform: translateY(0px);
    transition: .3s;
}

#home {
    margin-top: 40px;
}

.home-box {
    width: 90%;
    height: 450px;
    background-color: var(--bg-color);
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 24px;
}

.home-left {
    width: 45%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-right: 2px solid #e3e3e3;
}

.home-left .home-header {
    font-family: var(--font-main);
    text-decoration: underline;
}

.home-left .home-txt {
    width: 90%;
    font-family: var(--font-main);
    font-size: 15px;
}

.home-left button {
    width: 130px;
    height: 37px;
    background-color: var(--txt-color);
    color: #fff;
    font-family: var(--font-main);
    font-size: 12px;
    border: 1.7px solid #000;
    border-bottom-right-radius: 24px;
    transition: .2s;
    cursor: pointer;
}

.home-box button:hover {
    background-color: var(--bg-color);
    color: #000;
    transition: .2s;
}

.home-right {
    width: 40%;
    min-height: 380px;
    background-image: url("bwimage-1.jpg");
    background-size: cover;
    border-bottom-right-radius: 24px;
    transition: .2s;
}

.home-right:hover {
    scale: 1.005;
    transition: .2s;
}

@media (max-width: 768px) {
    .home-box {
        flex-direction: column;
        height: 1000px;
        width: 95%;
    }

    .home-left {
        width: 92%;
        border: none;
    }

    .home-right {
        width: 92%;
    }
}